<section class="page-section  text-white mb-0" id="contactme">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase"><form style="color: black;">Contact Me</form></h2>
    <img src="../../assets/browser.png" class="center" height="50%">
      <!-- About Section Content-->
      <div class="row">
        <div class="col-md-4 text-dark">
          <div class="card mb-4 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><i class="	fa fa-at fa-3x"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted">arondasamuel123@gmail.com</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-dark">
          <div class="card mb-4 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><i class="	fa fa-phone fa-3x"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted">+254791019910</h6>

            </div>
          </div>
        </div>
        <div class="col-md-4 text-dark">
          <div class="card mb-4 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><i class="	fa fa-linkedin fa-3x"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted">Samuel Aronda </h6>

            </div>
          </div>
        </div>
        <!-- <p style="color: black;"><i class="	fa fa-github fa-5x"></i>arondasamuel123</p>
        <p style="color: black;"><i class="	fa fa-phone fa-5x"></i>+2547910019910</p>
        <p style="color: black;"><i class="	fa fa-linkedin fa-5x"></i>Samuel Aronda</p>
        <p style="color: black;"><i class="	fa fa-at fa-5x"></i>arondasamuel123@gmail.com</p> -->

      </div>
      <!-- About Section Button-->

  </div>
</section>


