<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff715b;">
  <a class="navbar-brand" style="color:#151717;" href="#">SAMUEL ARONDA </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="collapse navbar-collapse"  id="navbarSupportedContent" align="right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: #151717;" routerLink=''>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal"  style="color: #151717;" routerLink="">YOUR BOOKINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #151717;" routerLink=''>Login</a>
      </li>


    </ul>
  </div>

</nav>




