<section class="page-section bg-primary  text-white mb-0" id="projects">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">PROJECTS</h2>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-md-4">
          <div class="card bg-dark mb-4 mx-auto box-shadow" style="width: 18rem;">
            <img class="card-img-top"  src="../../assets/shot2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TURF APP & API</h5>
              <p class="card-text">This is a platform that will allow you to book for a turf anytime,anywhere.<br>
                 Turf owners can also create turfs and tournaments for their turfs</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Technologies used:</li>
              <li class="list-group-item">Django</li>
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">Cloudinary </li>
            </ul>
            <div class="card-body">
              <a href="https://gracious-euclid-e207fb.netlify.app/login" class="card-link text-warning">Live link</a>
              <a href="https://github.com/arondasamuel123/TurfAPI" class="card-link text-warning">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark mb-5 mx-auto box-shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/shot3.png" width="100%" height="40%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">AWWWARDS CLONE </h5>
              <p class="card-text">This is a clone of the awwards web app where people submit websites and fellow web designers rate the site based on certain criteria</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Technologies used:</li>
              <li class="list-group-item">Django</li>
              <li class="list-group-item">Django REST</li>
              <li class="list-group-item">Cloudinary </li>
            </ul>
            <div class="card-body">
              <a href="https://awards-clone.herokuapp.com/" class="card-link text-warning">Live link </a>
              <a href="https://github.com/arondasamuel123/AwwwardsClone" class="card-link text-warning">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark mb-5 mx-auto box-shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/instagram.png" width="100%" height="40%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">INSTAGRAM CLONE </h5>
              <p class="card-text">This is an instagram clone where users can login, post photos and other users can like and comment on them.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Technologies used:</li>
              <li class="list-group-item">Django</li>
              <li class="list-group-item">Postgres</li>
              <li class="list-group-item">Cloudinary </li>
            </ul>
            <div class="card-body">
              <a href="https://gram-clone-mc24.herokuapp.com/accounts/login/?next=/" class="card-link text-warning">Live  link</a>
              <a href="https://github.com/arondasamuel123/InstagramClone" class="card-link text-warning"> Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark mb-4 mx-auto box-shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pitch.png" width="100%" height="40%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PITCH SOCIAL</h5>
              <p class="card-text">This a web app that allow users to post a one minute pitch about anything be an MVP, sales ptich etc. Users will also be allowed to comment on the pitches made.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Technologies used:</li>
              <li class="list-group-item">Flask</li>
              <li class="list-group-item">Postgres</li>
              <li class="list-group-item">Bootstrap</li>
            </ul>
            <div class="card-body">
              <a type="button" href="https://pitch-social.herokuapp.com/" class="card-link text-warning">Live link</a>
              <a type="button" href="https://github.com/arondasamuel123/PitchApp" class="card-link text-warning">Github Repo</a>
            </div>
          </div>
        </div>
</div>
  </div>
</section>



