<section class="page-section  text-white mb-0" id="skills">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Skills</h2>
      <!-- About Section Content-->
      <div class="row">

        <div class="col-md-4 mx-auto">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style=" width: 100%; display: block;" src="../../assets/backend.png" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Backend:<br>
                1. Django <br>
                2. Laravel <br>
                3. Flask<br>
                4. Python <br>
                5. PHP <br>
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style=" width: 100%; display: block;" src="../../assets/homepage.png" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Frontend:<br>
                1. HTML <br>
                2. CSS <br>
                3. Javascript<br>
                4. Angular
              </p>
            </div>
          </div>
        </div>
</div>
  </div>
</section>


